*{
    margin: 0;  
    border: 0;
    padding: 0;
}


html{
    background-color: darkgray;
}
body{
    width: 80%;
    margin: 0 auto;
    box-shadow: 10px 5px 5px black;
    border-radius: 1rem;
}

h1,footer,  .contenido-principal p{
    text-align: center;
    font-size: 1.5rem;
    background-color: blueviolet;
    padding: 1.5rem 0 1.5rem 0;
    border-radius: 1rem 1rem 0 0;
    color: antiquewhite;
}
P{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
form, input{
    font-size: 2rem;
}
input{
    border: solid gray 0.2rem;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    margin: 2rem 0;
    transition: all 0.2s;
}
input[type="submit"]:hover{
    color: antiquewhite;
    background-color: blueviolet;
}

.ganador{
font-size: 3rem;
font-weight: bold;
margin:1rem;
border:solid black;
border-bottom: 0.5rem;
}

.contenido-principal{
    background-color: coral;
    height: 65vh;
    display: flex;
    flex-direction: column;
}
.mesa{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.contenido-principal p{
width: 40%;
margin: 0 auto;
border-radius: 2rem;
}

.carta{
    background-color: blueviolet;
    margin: 1rem;
    width: 15%;
    border-radius: 0.5rem;
    border: solid black 0.2rem;
    height: 40vh;
    box-shadow: 10px 5px 5px teal;
}
footer{
    font-size: 1rem;
    border-radius: 0 0 1rem 1rem;
}
footer p{
    transition: all 0.5s;
}
footer p:hover{
    transform: scale(1.2);
}