/*
Paleta de colores:
#5F0087 morado oscuro
#BA19FF morado claro
#9400D3 morado normal
#cda4f3 morado más claro

#638700 verde oscuro
#9BD400 verde claro
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    padding: 1em;
    background-color: #9BD400;
    text-align: right;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

article {
    background-color:beige;
    padding-top: 1em;
}

#logueo article {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form {
    margin: 0 auto;
    width: 35%;
}

legend {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #9400D3;
    border: 0.2em solid #5F0087;
    padding: 0.5em;
}

form>section {
    display: flex;
    flex-direction: column;
    padding: 0.75em;
    background-color: #cda4f3;
    border: 0.2em solid #5F0087;
    border-top: 0;
}

label {
    padding: 0.75em;
    padding-left: 0;
    font-weight: bold;
    font-size: 14px;
}

input, select {
    padding: 0.75em;
    border: 0.2em solid #9400D3;
}

#boton {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

input[type="submit"] {
    width: 100%;
    background-color: #9400D3;
    padding: 00.75em;
    font-size: 16px;
    font-weight: bold;
    color: beige;
    border: 0.15em solid #5F0087;
    margin: 0.2rem;
}

.menu_tmp {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
}

.enlace_boton {
    text-decoration: none;
    padding: 1em;
    background-color: #9400D3;
    font-size: 16px;
    font-weight: bold;
    color: beige;
}

table {
    width: 50%;
    margin: 0 auto;
    border: 0.25em solid #5F0087;
    border-collapse: collapse;
    text-align: center;
}

caption {
    background-color: #5F0087;
    color: white;
    padding: 1em;
    font-weight: bold;
    font-size: 18px;
}

th {
    background-color: #9400D3;
    padding: 0.5em;
    color: beige;
}

td img{
    width: 45%;
}

td {
    width: calc(100% / 3);
}

.icono {
    width: 25%;
}

#borrar {
    text-align: center;
}

#borrar h1 {
    padding: 1em;
}

.botones {
    padding: 3em;
    display: inline-block;
}

.botones a {
    background-color: #5F0087;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    margin-right: 1em;
    margin-left: 1em;
}