*{
    margin: 0;  
    border: 0;
    padding: 0;
}


html{
    background-color: darkgray;
}
body{
    width: 80%;
    margin: 0 auto;
    box-shadow: 10px 5px 5px black;
    border-radius: 1rem;
}

h1, footer{
    text-align: center;
    font-size: 1.5rem;
    background-color: blueviolet;
    padding: 1.5rem 0 1.5rem 0;
    border-radius: 1rem 1rem 0 0;
    color: antiquewhite;
}
h2{
    text-align: center;
    padding: 1rem;
}

.contenido{
    height: 70vh;
    display: flex;
    flex-direction: row;
}
aside{
    width: 40%;
    background-color: cadetblue;
}
.contenido p{
    margin-left: 2rem;
}
.error{
    margin: 2rem;
    text-align: center;
    border: solid 0.1rem red;
}

.aviso{
    margin: 2rem;
    text-align: center;
    border: solid 0.1rem yellowgreen;
}



footer p:hover{
    transform: scale(1.2);
}

.contenido-principal{
    width: 60%;
    background-color: coral;
}



footer{
    font-size: 1rem;
    border-radius: 0 0 1rem 1rem;
}
footer p{
    transition: all 0.5s;
}