*{
    margin: 0;  
    border: 0;
    padding: 0;
}


html{
    background-color: darkgray;
}
body{
    width: 80%;
    margin: 0 auto;
    box-shadow: 10px 5px 5px black;
    border-radius: 1rem;
}

h1, footer{
    text-align: center;
    font-size: 1.5rem;
    background-color: blueviolet;
    padding: 1.5rem 0 1.5rem 0;
    border-radius: 1rem 1rem 0 0;
    color: antiquewhite;
}
h2{
    text-align: center;
    padding: 1rem;
}

.contenido{
    height: 70vh;
    display: flex;
    flex-direction: row;
}
aside{
    width: 30%;
    background-color: cadetblue;
}

aside ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside ul li{
    list-style: none;
    background-color: blueviolet;
    width: 70%;
    margin-bottom: 0.5rem;
    padding: 1rem;
    color: antiquewhite;
    text-align: center;
    border-radius: 1rem;
    transition: all 0.5s;
}
aside ul li:hover,footer p:hover{
    transform: scale(1.2);
}

.contenido-principal{
    width: 70%;
    background-color: coral;
}



footer{
    font-size: 1rem;
    border-radius: 0 0 1rem 1rem;
}
footer p{
    transition: all 0.5s;
}